.jumbotron {
  background-color: #cfcddb;
  margin-top: 0px;
  margin-bottom: 32px; }

.btn-promo {
  background-color: #004d00 !important;
  color: white; }

.btn-vermas {
  background-color: #b30000 !important; }
